* {margin: 0; padding: 0;}
@font-face {
	font-family: Minecraftia;
	src: url(../fonts/minecraftia.ttf);
}
h1 {
	margin-top: 20em;
	font-size: 40pt;
	font-family: Minecraftia;
	color: #FF9912;
	line-height: 40pt;
	text-transform: uppercase;
}
h4 {
	font-size: 10pt;
	font-family: Verdana;
	line-height: 12pt;
}
body {
	background-color: #292421;
	background-image: url("../images/starrybg.jpg");
	margin: 0 auto;
	width: 500px;
}
.container {
	width: 450px;
	background-color: rgba(255,255,255,0.95);
	padding: 3em 3em 0.5em 3em;
	-webkit-box-shadow: 2px 7px 65px 14px rgba(3,3,3,0.75);
	-moz-box-shadow: 2px 7px 65px 14px rgba(3,3,3,0.75);
	box-shadow: 2px 7px 65px 14px rgba(3,3,3,0.75);
	text-align: center;
}
nav {
	margin: 1em 0 5em 0;
	text-align: center;
}
nav li {
	padding-top: 2em;
	list-style-type: none;
}
.button {
 	font-family: Minecraftia;
  	color: #fff;
  	font-size: 14pt;
  	background: #FF9912;
  	padding: 0.5em 0.5em 0em 0.5em;
  	text-decoration: none;
	text-transform: uppercase;
}
.button:hover {
 	background: #20B2AA;
 	text-decoration: none;
}
p {
	width: 300px;
	font-size: 10pt;
	font-family: Verdana;
	color: black;
	margin: 0 auto;
	padding-bottom: 2em;
	text-align: left;
}
.icon {
	width: 100px;
	float: left;
}
.icondesc {
	text-align: left;
	padding: 2em 0em 2em 0.5em;
	width: 320px;
}
.hvr-grow {
  display: inline;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#wrapper {
	width: 280px;
	height: 500px;
	float: right;
	margin: 0 5em 0 0;
}

.mobile {
	float: right; 
	position: relative;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
	overflow: hidden;
	margin-bottom: 25px;
}
/*Hiding the checkbox*/
#tm {
	display: none;
}
/*Content area*/
.mobile section {
	background-color: #20B2AA;
	width: 285px; 
	height: 300px;
	position: relative; 
	transition: all 0.25s;
}
.mobile section label {
	color: #fff; 
	font: bold 14pt Minecraftia;
	text-align: center;
	line-height: 20pt;
	border: 2px dashed #fff; 
	border-radius: 4px;
	display: block; 
	padding: 10px 0;
	width: 60%; 
	position: absolute; 
	left: 20%; 
	top: 100px;
	cursor: pointer;
	text-transform: uppercase;
}
/*Nav styles*/
.sidenav {
	background: rgba(255,255,255,0.95);
	width: 180px;
	position: absolute; 
	left: 0; 
	top: 0; 
	bottom: 0; 
	padding: 5em 0 0 1em;
}
.sidenav li {
	list-style-type: none;
}
.sidenav a { 
	color: black; 
	text-decoration: none;
}
.sidenav b {
	font: bold 10pt Minecraftia; 
	text-transform: uppercase;
	opacity: 0;
	padding-bottom: 0.2em;
	transform: translateX(50px);
	transition: all 0.4s;
}
input[type=checkbox]:not(old) {
	width: 2em;
	margin: 0;
	padding: 0;
	font-size: 1em;
	opacity: 0;
	float: left;
}
input[type=checkbox]:not(old) + label {
  	display: inline-block;
  	margin-left: -2em;
  	line-height: 1.5em;
	cursor: pointer;
}
input[type=checkbox]:not(old) + label > span {
  	display: inline-block;
 	width: 0.875em;
  	height: 0.875em;
  	margin: 0.25em 0.5em 0.25em 0.25em;
  	border: 0.0625em solid rgb(192,192,192);
  	border-radius: 0.25em;
  	background: rgb(224,224,224);
  	background-image: -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  	background-image: -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  	background-image: -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  	background-image: -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  	background-image: linear-gradient(rgb(240,240,240),rgb(224,224,224));
  	vertical-align: top;
}
input[type=checkbox]:not(old):checked + label > span:before{
  	content: '✓';
  	display: block;
  	width: 1em;
  	color: rgb(153,204,102);
  	font-size: 0.875em;
  	line-height: 1em;
  	text-align: center;
  	text-shadow: 0 0 0.0714em rgb(115,153,77);
  	font-weight: bold;
}
/*Animation controls using checkbox hack*/
/*Animate content area to the right*/
#tm:checked ~ section {transform: translateX(180px);}
/*Animate links from right to left + fade in effect*/
#tm:checked ~ .sidenav b {opacity: 1; transform: translateX(0);}

/*Adding delay to link animation - in multiples of .08s*/
/*One can use jQuery also for creating the delayed effect. But I will stick to manual CSS for this walkthrough.*/
#tm:checked ~ .sidenav li:nth-child(1) b {transition-delay: 0.08s;}
#tm:checked ~ .sidenav li:nth-child(2) b {transition-delay: 0.16s;}
#tm:checked ~ .sidenav li:nth-child(3) b {transition-delay: 0.24s;}
#tm:checked ~ .sidenav li:nth-child(4) b {transition-delay: 0.32s;}
#tm:checked ~ .sidenav li:nth-child(5) b {transition-delay: 0.40s;}
#tm:checked ~ .sidenav li:nth-child(6) b {transition-delay: 0.48s;}

#answers {
	width: 280px;
	text-align: center;
}
#answers summary {
	color: black;
	font-size: 14pt;
	font-family: Minecraftia;
	text-transform: uppercase;
	line-height: 11pt;
}
	
summary::-webkit-details-marker {
	color: #FF9912;
 	font-size: 125%;
 	margin-right: 2px;
}
summary:focus {
	outline-style: none;
}
#answer_list {
	font-size: 10pt;
	font-family: Verdana;
	color: black;
	margin: 1em 0 0 3em;
	width: 200px;
	text-align: left;	
}