*{margin: 0; padding: 0;}
body {
	color: #fff;
	background: #292421;
}
#container {
	margin: 50px 50px 100px 50px;
	width: 800px;
}
h1 {
	font-family: 'Abel', sans-serif;
	margin: 20px 20px 20px 0px;
	font-size: 36pt;
	font-variant: small-caps;
}
h2 {
	font-family: 'Abel', sans-serif;
	color: #76EEC6;
	font-size: 18pt;
	margin: 10px 10px 10px 0px;
	font-variant: small-caps;
}
h4 {
	font-family: 'Abel', sans-serif;
	font-variant: small-caps;
	font-size: 14pt;
}
p {
	margin: -20px 10px 50px 150px;
	font-size: 10pt;
	width: 500px;
	font-family: Trebuchet MS;
}
ol { 
	padding:0; 
	list-style-type: none;
}

#stars {
	margin-top: 50px;
}
.color {
	margin: 10px 10px 10px 50px;
	font-family: 'Abel', sans-serif;
	font-variant: small-caps;
}
#color1 {
	background-color: #120733;
	padding: 20px 20px 20px 20px;
	width: 70px;
}
#color2 {
	background-color: #E0DED3;
	color: #000;
	padding: 20px 20px 20px 20px;
	width: 70px;
}
#color3 {
	background-color: #FF7256;
	padding: 20px 20px 20px 20px;
	width: 70px;
}
#color4 {
	background-color: #BBFFFF;
	color: #000;
	padding: 20px 20px 20px 20px;
	width: 70px;
}
#color5 {
	background-color: #FFEC8B;
	color: #000;
	padding: 20px 20px 20px 20px;
	width: 70px;
}
a:link, a:visited {
	color: #FF7256;
	font-family: 'Abel', sans-serif;
	font-variant: small-caps;
	font-size: 24pt;
	text-decoration: none;
	margin: 10px 10px 10px 50px;
	padding: 0px 10px 0px 10px;
}
a:hover {
	background-color: #fff;
	color: #292421;
}	